<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>profile</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<header>
  <nav class="navbar navbar-expand-md bg-white navbar-light  fixed-top">
    <div class="container">
      <a class="navbar-brand fw-italic" href="/index.html">
        <span class="bg-success bg-gradient p-1 rounded-3 text-light">Pay My Buddy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-truncate fw-bolder">
          <li class="nav-item">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="transfer.html">Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link profile" href="profile.html" th:href="@{/bankAccount?pageNumber=1}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body style="background: #f6f9ff;">
<div class="container">
  <div class="pagetitle" style=" margin-bottom: 30px; margin-top: 100px;">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark text-decoration-none" href="home.html">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark text-decoration-none" href="profile.html">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="text-success text-decoration-none" href="account.html">Account</a></li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="mb-4">
      <div class="float-start flex-column gap-4">
        <form class="d-flex" th:action="@{/contact/search}" method="GET" th:object="${contact}">
          <input class="form-control me-1 ps-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>

      <a class="btn btn-success float-end" th:href="@{/user?pageNumber=1}">Add Contact</a>
      <a class="text-decoration btn btn-success float-end" >Transfer Money</a>

    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="text-success float-start mb-4">Your Contacts</h4>

        <table class="table table-hover">
          <thead style=" font-family:Nunito, sans-serif;font-size:18px;">
          <tr class="bg-light">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Action</span></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="contact : ${contacts}">
            <td th:text="${contact.userFriend.firstname}"></td>
            <td th:text="${contact.userFriend.lastname}"></td>
            <td th:text="${contact.userFriend.email}"></td>
            <td>
              <a class="text-decoration-none badge rounded-pill bg-danger me-3" th:href="@{/contact/remove/{id}(id=${contact.id})}">Remove</a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="Page navigation example" th:if = "${totalPages > 1}" >
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a th:if="${currentPage - 1 != 0}" th:href="@{'/contact?pageNumber=' + ${currentPage - 1}}" class="page-link text-success">Previous</a>
              <span class="page-link text-success" th:unless="${currentPage - 1 != 0}">Previous</span>
            </li>
            <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
              <a th:if="${currentPage != i}" th:href="@{'/contact?pageNumber=' + ${i}}" class="page-link text-success" href="#">[[${i}]]</a>
              <a th:unless="${currentPage != i}" class="page-link text-dark" href="#">[[${i}]]</a>
            </li>
            <li class="page-item mr-2">
              <a th:if="${currentPage < totalPages}" th:href="@{'/contact?pageNumber=' + ${currentPage + 1}}" class="page-link text-success">Next</a>
              <span class="page-link text-success" th:unless="${currentPage < totalPages}">Next</span>
            </li>
            <li class="page-item">
              <a class="page-link text-success" th:if="${currentPage < totalPages}" th:href="@{'/contact?pageNumber=' + ${totalPages}}">Last</a>
              <span class="page-link text-success" th:unless="${currentPage < totalPages}">Last</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous">
  </script>
</body>
<style>
    .card {
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0 30px rgba(1, 42, 112, 0.062);
    }
</style>
</html>