<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <link href="css/style.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-md bg-white navbar-light  fixed-top">
    <div class="container">
        <a class="navbar-brand fw-italic" th:href="@{/home}">
            <span class="bg-success bg-gradient p-1 rounded-3 text-light">Pay My Buddy</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav text-truncate fw-bolder">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/transaction?pageNumber=1}">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
<div class="container">
    <div style=" margin-bottom: 30px; margin-top: 100px;">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-dark text-decoration-none" th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="text-dark text-decoration-none" th:href="@{/profile}">Profile</a></li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-3 bg-white ">
                <div id="sidebar">
                    <div class="card-body pt-4 pr-3 d-flex flex-column align-items-center">
                        <ul class = "list-inline" id="sidebar-nav">
                            <li class="">
                                <a class="btn btn-success" th:href="@{/profile}">
                                    <i class="bi bi-person-fill-add"></i>
                                    <span>My profile</span>
                                </a>
                            </li>
                            <li class="pt-3">
                                <a class="text-decoration-none text-dark" th:href="@{/bankAccount?pageNumber=1}" href="account.html">
                                    <i class="bi bi-coin"></i>
                                    <span> Bank Account</span>
                                </a>
                            </li>
                            <li class="pt-3">
                                <a class="text-decoration-none text-dark" th:href="@{/operation?pageNumber=1}" href="account.html">
                                    <i class="bi bi-arrow-left-right"></i>
                                    <span> Operation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                          <!--  <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>-->
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <form th:action="@{/profile}" method="POST" th:object="${user}">
                                    <h5 class="card-title">Profile Details</h5>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">First Name</div>
                                        <div class="col-lg-9 col-md-8" th:text="${user.firstname}"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Last Name</div>
                                        <div class="col-lg-9 col-md-8" th:text="${user.lastname}"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8" th:text="${user.email}" ></div>
                                    </div>
                                </form>
                            </div>

                            <!--<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <form th:action="@{/profile/edit}" method="POST" th:object="${user}">
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" th:field="*{firstname}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName" th:field="*{lastname}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" th:field="*{email}">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">Save Changes</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <form>
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">Change Password</button>
                                    </div>
                                </form>&lt;!&ndash; End Change Password Form &ndash;&gt;

                            </div>
-->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>

<style>
  body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}
</style>
</body>
</html>