<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>profile</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<nav class="navbar navbar-expand-md bg-white navbar-light  fixed-top">
  <div class="container">
    <a class="navbar-brand fw-italic" th:href="@{/home}">
      <span class="bg-success bg-gradient p-1 rounded-3 text-light">Pay My Buddy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-truncate fw-bolder">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/transaction?pageNumber=1}">Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/profile}">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body style="background: #f6f9ff;">
  <div class="container">
    <div class="pagetitle" style=" margin-bottom: 10px; margin-top: 100px;">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-dark text-decoration-none" th:href="@{/home}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a class="text-success text-decoration-none" th:href="@{/transaction?pageNumber=1}">Transaction</a></li>
        </ol>
      </nav>
    </div>

    <div class="row mt-4">
        <div class="col-md-6  mb-2">
          <h4 class="text-dark">Transfer Money</h4>
        </div>
        <div class="col-md-6 mb-4">
          <a class="text-decoration-none btn btn-success float-end" th:href="@{/user?pageNumber=1}">Add Contact</a>
        </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="text-success float-start">Send money to your contact</h5>

        <div th:if="${balanceError}" class="mx-auto float-end alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${balanceError}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${contactNotFound}" class="mx-auto float-end alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${contactNotFound}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${transactionSave}" class="mx-auto float-end alert alert-success alert-dismissible fade show" role="alert">
          <span th:text="${transactionSave}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <div  class="card-body">
        <form class="row" th:action="@{/transaction/add}" method="POST" th:object="${transaction}">
           <div th:if="${contacts}" class="col-md-3">
                <select class="form-control" th:field="*{contactId}">
                  <option th:each="contact : ${contacts}"
                          th:value="${contact.id}"
                          th:text="${contact.userFriend.firstname} +' '+ ${contact.userFriend.lastname}" ></option>
                </select>
           </div>
          <div th:if="${contact}" class="col-md-3">
              <select class="form-control" th:field="*{contactId}">
                <option th:value="${contact.id}"
                        th:text="${contact.userFriend.firstname} +' '+ ${contact.userFriend.lastname}" >
                </option>
              </select>
          </div>
          <div class="col-md-4">
            <input class="form-control" th:field="*{amount}" type="number" placeholder="amount" min="500">
          </div>
          <div class="col-md-4">
            <input class="form-control" th:field="*{subject}" type="text" placeholder="Description">
          </div>
          <div class="col-md-1">
            <button class="float-end btn btn-success" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mt-4 mb-2">
      <h4 class="text-dark">My Transactions</h4>
    </div>

    <div class="card">
      <div class="card-body">
        <table class="mt-4 table table-hover">
          <thead style=" font-family:Nunito, sans-serif;font-size:18px;">
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.contact.userFriend.firstname} +' '+ ${transaction.contact.userFriend.lastname}"></td>
            <td th:text="${transaction.subject}"></td>
            <td th:text="${transaction.amount}"></td>
          </tr>
          </tbody>
        </table>

        <div class="Page navigation example" th:if = "${totalPages > 1}" >
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a th:if="${currentPage - 1 != 0}" th:href="@{'/transaction?pageNumber=' + ${currentPage - 1}}" class="page-link text-success">Previous</a>
              <span class="page-link text-success" th:unless="${currentPage - 1 != 0}">Previous</span>
            </li>
            <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
              <a th:if="${currentPage != i}" th:href="@{'/transaction?pageNumber=' +   ${i}}" class="page-link text-success" href="#">[[${i}]]</a>
              <a th:unless="${currentPage != i}" class="page-link text-dark" href="#">[[${i}]]</a>
            </li>
            <li class="page-item mr-2">
              <a th:if="${currentPage < totalPages}" th:href="@{'/transaction?pageNumber=' + ${currentPage + 1}}" class="page-link text-success">Next</a>
              <span class="page-link text-success" th:unless="${currentPage < totalPages}">Next</span>
            </li>
            <li class="page-item">
              <a class="page-link text-success" th:if="${currentPage < totalPages}" th:href="@{'/transaction?pageNumber=' + ${totalPages}}">Last</a>
              <span class="page-link text-success" th:unless="${currentPage < totalPages}">Last</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous">
  </script>

</body>
</html>